:root {
  --main-color: #4866de;
  --dark-color: #2b2c3b;
  --light-color: white;
}

html {
  scrollbar-color: var(--main-color) var(--light-color);
  background: linear-gradient(#e7ebf5, #e1e3f0);
  min-height: 100%;
  min-width: 100%;
}

body {
  margin: 0;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

h1 {
  color: var(--main-color);
  font-weight: 600;
  font-size: 40px;
  text-align: center;
}

.buttons-container {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}

.button-container {
  display: grid;
  font-size: 12px;
  justify-items: center;
  align-content: center;
  width: 115px;
  height: 100px;
  background: var(--light-color);
  border-radius: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  position: relative;
  font-weight: bold;
  letter-spacing: 0.4px;
}

.button-icon {
  width: 40px;
  margin-bottom: 25px;
}

.button-text {
  position: absolute;
  margin-top: 65px;
}

#Achromatopsia {
  color: gray;
  fill: gray;
}

#Deuteranopia {
  color: green;
  fill: green;
}

#Protanopia {
  color: red;
  fill: red;
}

#Tritanopia {
  color: blue;
  fill: blue;
}

#Astigmatism .button-icon {
  filter: blur(0.5px) drop-shadow(3px 0px 1px rgba(0, 0, 0, 0.5));
  transform: skewX(3deg);
}

.icon {
  position: absolute;
  top: 20%;
}

#Hyperopia .icon.normal {
  clip-path: inset(0 0 50% 0);
}

#Hyperopia .icon.blurred {
  filter: blur(2px);
  clip-path: inset(45% 0 0 0);
  border-radius: 5px;
}

#Myopia .icon.normal {
  clip-path: inset(50% 0 0 0);
}

#Myopia .icon.blurred {
  filter: blur(2px);
  clip-path: inset(0 0 40% 0);
  border-radius: 5px;
}

.upload-container {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 50px;
  padding: 10px 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  width: 700px;
  background: var(--light-color);
  margin: 40px auto 30px auto;
}

.upload-icon {
  width: 20px;
  margin-right: 15px;
  fill: var(--dark-color);
}

.upload-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 100%;
  width: 100%;
  margin-left: -20px;
}

.upload-placeholder {
  font-size: 16px;
  color: var(--dark-color);
  user-select: none;
  pointer-events: none;
}

.image-container {
  position: relative;
  display: grid;
  background: var(--light-color);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  padding: 20px 40px;
  width: fit-content;
  justify-content: center;
  align-content: center;
  margin: auto;
  border-radius: 20px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  font-weight: bold;
}

.comparison-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.comparison-wrapper img {
  display: block;
  border-radius: 10px;
}

.slider {
  position: absolute;
  top: 0;
  left: -2px;
  width: 100%;
  height: 600px;
  appearance: none;
  background: transparent;
  pointer-events: auto;
  cursor: ew-resize;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 5px;
  height: 605px;
  background: var(--light-color);
  border: none;
}

.slider::-moz-range-thumb {
  width: 5px;
  height: 605px;
  background: var(--light-color);
  border: none;
}

.slider::-moz-range-track {
  background: transparent;
  border: none;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
  color: var(--light-color);
  border-radius: 4px;
  user-select: none;
  pointer-events: none;
}

footer {
  text-align: center;
  margin: 30px 0 15px 0;
}
